/* html,body{
    height:100%;
}
#app{
    height:100%;
} */

/* reset css */
html body img{
    vertical-align: baseline;
} 

*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,body{
	font-size: 5.208vw;
	width: 100%;
}
#app{
    height:100%;
}
