.iconDele{
    position: absolute;
    // top: -0.25rem;
    // right: -0.25rem;
    top: 0.25rem;
    right: 0.25rem;
    font-size: 0.5rem;
    color: crimson;
    background-color: #fff;
    cursor: pointer;
}
.wrapitem{
    position: relative;
    width: 2rem;
    height: 3rem;
    float: left;
    cursor: move;
    margin-left: 0.1rem;
    font-size: 12px;
    opacity: 0;
    text-align: center;
    .cardName{
        margin-bottom: 0;
        line-height: 0.4rem;
        text-align: center;
        position: relative;
        font-size: 12px;
        z-index: -2;
    }
    .dragitem{
        width: 2rem;
        height: 2rem;
        display: inline-block;  
        position: relative;
        z-index: -1;
    }
}

.wrapitemDown{
    position: relative;
    width: 1.5rem;
    height: 2rem;
    float: left;
    cursor: move;
    margin-left: 0.1rem;
    font-size: 12px;
    text-align: center;
    opacity: 0;
    text-align: center;
    .cardName{
        margin-bottom: 0;
        line-height: 0.4rem;
        text-align: center;
        display: inline-block;
        position: relative;
        font-size: 10px;
        z-index: -2;
        
        
    }
    .dragitem{
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;  
        position: relative;
        z-index: -1;
    }
}

.addcard{
    ul{
        list-style: none;
        li, a{
            list-style: none;
            width: 2rem;
            height: 2rem;
            background-color: cadetblue;
            float: left;
            text-align: center;
            // margin: 0.2rem;
            position: relative;
            display: block;
            cursor: pointer;
            z-index: 12;
            i{
                position: absolute;
                top: -0.4rem;
                right: -0.4rem;
                font-size: 0.8rem;
            }
        }
    }
}